
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dotnet Core</title>
    <base href="/">
</head>
<body>
    <b>.NET Core...</b>
    <app-root>.NET CORE</app-root>
    
    <script type="text/javascript" src="~/bundle/runtime.js"></script>
    <script type="text/javascript" src="~/bundle/es2015-polyfills.js" nomodule></script>
    <script type="text/javascript" src="~/bundle/polyfills.js"></script>
    <script type="text/javascript" src="~/bundle/styles.js"></script>
    <script type="text/javascript" src="~/bundle/vendor.js"></script>
    <script type="text/javascript" src="~/bundle/main.js"></script>
</body>
</html>