<div class="container">
  <div class="row">
    <div class="col">
      <i class="bi bi-eye"></i>
      Getting help
      Please, do not open issues for the general support questions as we want to keep GitHub issues for bug reports and feature requests. You've got much better chances of getting your question answered on StackOverflow where the community at large are looking at questions tagged with ng-bootstrap.

      StackOverflow is a much better place to ask questions since:

      there are hundreds of people willing to help on StackOverflow,
      questions and answers stay available for public viewing so your question / answer might help someone else, and
      the SO voting system assures that the best answers are prominently visible.
      To save your and our time we will be systematically closing all the issues that are requests for general support and redirecting people to StackOverflow.
    </div>
  </div>
</div>
