<div class="container-fluid vh-100"
    style="background-image: url('../assets/Bro_RoyalEnfield.jpg');
    background-size: cover;
    background-repeat: no-repeat;">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col">
          <app-tes-header></app-tes-header>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <router-outlet></router-outlet>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <app-tes-footer></app-tes-footer>
        </div>
      </div>
    </div>
  </div>
</div>
